.container{
    background-color: aliceblue;
    width: 80%;
    height: 80%;
    justify-content: center;
    display: flex;
    vertical-align: middle;
    padding: 20px;

}

.axis{
    position: absolute;
    background-color: black;
}
.x{
    width: 60%;
    height: 5px;
}

.y{
    width: 5px;
    height: 80%;
}

.node{
    position: absolute;
}
.marking{
    width: 8px;
    height: 8px;
    background-color: black;
    border-radius: 8px;
}